.search_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.search_box:hover>.search_box__search_txt {
  width: 240px;
  padding: 0 6px;
}

.search_box:hover>.search_box__search_btn {
  background: white;
}

.search_box__search_btn {
  color: #0088a9;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search_box__search_btn>i {
  background: none;
}

.search_box__search_txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}

@media screen and (max-width: 730px) {
  .search_box {
    margin: 40% 0;
  }
}

@media screen and (max-width: 500px) {
  .search_box {
    margin-top: 50%;
  }
  .search_box__search_txt {
    width: 100px;
  }
  .search_box:hover>.search_box__search_txt {
    width: 100px;
  }
  .search_box__search_btn {
    background: white;
  }
}